<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>breadcurmb</title>
</head>
<body>
<nav th:fragment="breadcrumb" aria-label="breadcrumb" th:if="not ${#strings.equals(fieldName,'Country')}"
     th:with=" replaceUrl=${#strings.replace(#httpServletRequest.getRequestURL(),'%20',' ')},subUrl=${#strings.substringAfter(replaceUrl,'/map')}, pathArray=${#strings.arraySplit(subUrl,'/')}">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" th:each="path,status:${pathArray}"><a
                th:href="@{${#strings.substring(replaceUrl,0,
                #strings.indexOf(replaceUrl,path))}}"
                th:text="${path}"></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:text="..."></li>
    </ol>
</nav>
</body>
</html>