<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head_and_imports"></head>

<body>
<!-- Sidenav -->
<nav th:replace="fragments/common :: sidnav(0)"></nav>

<!-- Main content -->
<div class="main-content" id="panel">
	<!-- Topnav -->
	<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
		<div class="container-fluid">
			<div class="collapse navbar-collapse row justify-content-between" id="navbarSupportedContent">
				
				<!-- Path nav -->
				<div class="row col-auto align-items-center ">
					<h6 class="h2 text-white d-inline-block mb-0 col-auto" th:text="${currentProjectName}"></h6>
					<nav aria-label="breadcrumb col-auto" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark py-2 mb-0">
							<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">Dashboards</a></li>
							<li class="breadcrumb-item active" aria-current="page">Basic</li>
						</ol>
					</nav>
				</div>
				
				<div class="row col-auto justify-content-end align-items-center m-0">
					<!-- Navbar links -->
					<div class="col-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item d-xl-none">
								<!-- Sidenav toggler -->
								<div class="pr-2 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
								     data-target="#sidenav-main">
									<div class="sidenav-toggler-inner">
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			
			</div>
		</div>
	</nav>
	
	<!-- Header -->
	<div class="header bg-primary pb-6">
		<div class="container-fluid">
			<div class="header-body">
				<!-- Card stats -->
				<div class="row pt-3">
					<!-- Module Card -->
					<div class="col-xl-4 col-md-4">
						<div class="card card-stats">
							<!-- Card body -->
							<div class="card-body">
								<!-- Current Info -->
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-muted mb-0">Number Of Modules</h5>
										<span class="h2 font-weight-bold mb-0" th:text="${currentProjectInfo.getModuleList().size()}">
										</span>
									</div>
								</div>
								<!-- Update Info -->
								<p class="mt-3 mb-0 text-sm" th:inline="text"
								   th:with="numDiff=${currentProjectInfo.getModuleList().size() - preProjectInfo.getModuleList().size()}">
									<span class="text-success mr-2" th:if="${numDiff} ge '0'">
										<i class="fa fa-arrow-up"></i>[[${numDiff}]]
									</span>
									<span class="text-danger mr-2" th:if="${numDiff} lt '0'">
										<i class="fa fa-arrow-down"></i>[[${numDiff}]]
									</span>
									<span class="text-nowrap">
										Since [[${#dates.format(currentProjectInfo.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}]]
									</span>
								</p>
							</div>
						</div>
					</div>
					<!-- Package Card -->
					<div class="col-xl-4 col-md-4">
						<div class="card card-stats">
							<!-- Card body -->
							<div class="card-body">
								<!-- Current Info -->
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-muted mb-0">Number Of Packages</h5>
										<span class="h2 font-weight-bold mb-0"
										      th:text="${currentProjectInfo.getPackageList().size()}"></span>
									</div>
								</div>
								<!-- Update Info -->
								<p class="mt-3 mb-0 text-sm" th:inline="text"
								   th:with="numDiff=${currentProjectInfo.getPackageList().size() - preProjectInfo.getPackageList().size()}">
									<span class="text-success mr-2" th:if="${numDiff} ge '0'">
										<i class="fa fa-arrow-up"></i>[[${numDiff}]]
									</span>
									<span class="text-danger mr-2" th:if="${numDiff} lt '0'">
										<i class="fa fa-arrow-down"></i>[[${numDiff}]]
									</span>
									<span class="text-nowrap">
										Since [[${#dates.format(currentProjectInfo.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}]]
									</span>
								</p>
							</div>
						</div>
					</div>
					<!-- Class Card -->
					<div class="col-xl-4 col-md-4">
						<div class="card card-stats">
							<!-- Card body -->
							<div class="card-body">
								<!-- Current Info -->
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-muted mb-0">Number Of Class Files / (All Classes)</h5>
										<span class="h2 font-weight-bold mb-0"
										      th:text="${currentProjectInfo.getClassList().size()} +' / ('+ ${currentProjectInfo.getAllClassList().size()} +')'"></span>
									</div>
								</div>
								<!-- Update Info -->
								<p class="mt-3 mb-0 text-sm" th:inline="text"
								   th:with="numDiff=${currentProjectInfo.getClassList().size() - preProjectInfo.getClassList().size()}, numDiff2=${currentProjectInfo.getAllClassList().size() - preProjectInfo.getAllClassList().size()}">
									<span class="text-success mr-0" th:if="${numDiff} ge '0'">
										<i class="fa fa-arrow-up"></i>[[${numDiff}]]
									</span>
									<span class="text-danger mr-0" th:if="${numDiff} lt '0'">
										<i class="fa fa-arrow-down"></i>[[${numDiff}]]
									</span>
									<span>&nbsp;/&nbsp;&nbsp;(</span>
									<span class="text-success ml-0" th:if="${numDiff2} ge '0'">
										<i class="fa fa-arrow-up"></i>[[${numDiff2}]]
									</span>
									<span class="text-danger ml-0" th:if="${numDiff2} lt '0'">
										<i class="fa fa-arrow-down"></i>[[${numDiff2}]]
									</span>
									<span>)</span>
									<span class="text-nowrap ml-2">
										Since [[${#dates.format(currentProjectInfo.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}]]
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- Page content -->
	<div class="container-fluid mt--6">
		<div class="row">
			<!-- chart -->
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header bg-transparent">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="text-muted text-uppercase ls-1 mb-1">basic</h6>
								<h5 class="h3 mb-0">Trends for Number of Module, Package and Class</h5>
							</div>
							<div class="col">
								<ul class="nav nav-pills justify-content-end">
									<li class="nav-item mr-2 mr-md-0">
										<a href="#" class="nav-link py-2 px-3 active" data-toggle="tab"
										   onclick="changeXAxisType('category')">
											<span class="d-none d-md-block">Category</span>
											<span class="d-md-none">C</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link py-2 px-3" data-toggle="tab" onclick="changeXAxisType('time')">
											<span class="d-none d-md-block">Time</span>
											<span class="d-md-none">T</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="chart" class="card-body pb-4 pr-4 pl-0 pt-0 col-12" style="height:450px;">
					</div>
					<script type="text/javascript" th:inline="javascript">
              // 指定图表的配置项和数据
              var option = {
                  dataset: {
                      // 提供一份数据。
                      source: [
                          ['level'].concat(/*[[${timeRecords}]]*/),
                          ['Module Number'].concat(/*[[${moduleRecords}]]*/),
                          ['Package Number'].concat(/*[[${packageRecords}]]*/),
                          ['Java File Number'].concat(/*[[${javaFileRecords}]]*/),
                          ['Outer Class Number'].concat(/*[[${classRecords}]]*/),
                          ['All Classes Number (append all nested classes)'].concat(/*[[${allClassRecords}]]*/),
                      ]
                  },
                  // 声明多个 bar 系列，默认情况下，每个系列会自动对应到 dataset 的每一列。
                  series: [
                      {type: 'line', encode: {x: 0, y: 1, seriesName: 1}, seriesLayoutBy: 'row'},
                      {type: 'line', encode: {x: 0, y: 2, seriesName: 2}, seriesLayoutBy: 'row'},
                      {type: 'line', encode: {x: 0, y: 3, seriesName: 3}, seriesLayoutBy: 'row'},
                      {type: 'line', encode: {x: 0, y: 4, seriesName: 4}, seriesLayoutBy: 'row'},
                      {type: 'line', encode: {x: 0, y: 5, seriesName: 5}, seriesLayoutBy: 'row'},
                  ],
                  legend: {},
                  grid: {
                      bottom: '100'
                  },
                  // 声明一个 X 轴，类目轴（category）。默认情况下，类目轴对应到 dataset 第一列。
                  xAxis: {
                      type: 'category',
                      axisLabel: {interval: 0, rotate: 15},
                      splitLine: {show: true},
                  },
                  yAxis: {},
                  tooltip: {
                      trigger: 'axis',
                      axisPointer: {
                          snap: true,
                          type: "line",
                      }
                  },
                  dataZoom: [
                      {
                          type: 'slider',
                          xAxisIndex: 0,
                          start: 20,
                          end: 100
                      },
                      {
                          type: 'inside',
                          xAxisIndex: 0,
                          start: 20,
                          end: 100
                      },
                      {
                          type: 'slider',
                          yAxisIndex: 0,
                          start: 0,
                          end: 100
                      }
                  ],
              };
              // 基于准备好的dom，初始化echarts实例
              var myChart = echarts.init(document.getElementById('chart'));
              // 使用刚指定的配置项和数据显示图表。
              myChart.setOption(option);

              myChart.on('click', function (params) {
                  // 控制台打印数据的名称
                  console.log(params.name);
              });

              function changeXAxisType(type) {
                  myChart.setOption({
                      xAxis: {
                          type: type
                      },
                  });
              }
					
					</script>
				</div>
			</div>
		</div>
		
		<div class="row">
			
			<div class="col-xl-12">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-auto">
							<h6 class="text-uppercase text-muted ls-1 mb0">Project Information</h6>
							
							<!-- dropdown -->
							<div class="nav-item dropdown">
								<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false">
											<span class="h3 mb-0 mr-2" id="current_record_time"
											      th:text="${#dates.format(currentProjectInfo.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
									<i class="fas fa-caret-down"></i>
								</a>
								<div class="dropdown-menu">
									<!--											<div class="dropdown-header noti-title">-->
									<!--												<h6 class="text-overflow m-0">History Record</h6>-->
									<!--											</div>-->
									<a class="dropdown-item"
									   th:classappend="${timeRecordStat.index} eq ${timeRecords.size()-1} ? 'active' : ''"
									   href="javascript:void(0);"
									   th:each="timeRecord,timeRecordStat : ${timeRecords}"
									   th:onclick="selectRecordTime(this,[[${timeRecordStat.index}]])">
										<span th:text="${timeRecord}"></span>
									</a>
								</div>
							</div>
						
						</div>
					
					</div>
				</div>
			</div>
			
			<!-- 这部分的动态更新由vue.js支持，模板语法有thymeleaf支持 -->
			<!-- 修改代码后，需要同步更新至templates/fragments/dashboard/project_list_template.html -->
			<div id="project_info_basic" v-html="project_info_fragment" class="col-xl-12">
				<!-- module -->
				<div class="card mb-0">
					<div class="table-responsive card-table">
						<table class="table align-items-center table-flush" data-toggle="table" data-height="360"
						       data-fixed-columns="true" data-fixed-number="2">
							<thead class="thead-light">
							<tr>
								<th scope="col">Module</th>
								<th scope="col">Package Number</th>
								<th scope="col">Class + (InnerClass) Number</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="moduleMap : ${moduleMapList}" th:object="${moduleMap}"
							    th:class="(*{newness} eq 'new')? 'text-success' : ((*{newness} eq 'delete')? 'text-danger': '')"
							    th:styleappend="(*{newness} eq 'delete')? 'text-decoration: line-through;' : ''">
								<th scope="row" th:text="(*{newness} eq 'new') ? '(new) '+ *{moduleName} : *{moduleName}"></th>
								<td th:text="*{numOfPkg}">num of pkg</td>
								<td th:text="*{numOfClass}+' + ('+*{numOfInnerClass}+')'">num of class</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- package -->
				<div class="card mb-0">
					<div class="table-responsive card-table">
						<table class="table align-items-center table-flush" data-toggle="table" data-height="360"
						       data-fixed-columns="true" data-fixed-number="2">
							<thead class="thead-light">
							<tr>
								<th scope="col">Package</th>
								<th scope="col">of Module</th>
								<th scope="col">Class + (InnerClass) Number</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="packageMap : ${packageMapList}" th:object="${packageMap}"
							    th:class="(*{newness} eq 'new')? 'text-success' : ((*{newness} eq 'delete')? 'text-danger': '')"
							    th:styleappend="(*{newness} eq 'delete')? 'text-decoration: line-through;' : ''">
								<th scope="row" th:text="(*{newness} eq 'new') ? '(new) '+ *{packageName} : *{packageName}"></th>
								<td th:text="*{packageInfo.getModuleInfo().getRelativePath()}"></td>
								<td th:text="*{numOfClass}+' + ('+*{numOfInnerClass}+')'"></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- class -->
				<div class="card mb-0">
					<div class="table-responsive card-table">
						<!-- Projects table -->
						<table class="table align-items-center table-flush" data-toggle="table" data-height="360"
						       data-fixed-columns="true" data-fixed-number="2">
							<thead class="thead-light">
							<tr>
								<th scope="col">Type</th>
								<th scope="col">Class</th>
								<th scope="col">of Package</th>
								<th scope="col">of Module</th>
								<th scope="col">Fields</th>
								<th scope="col">Methods</th>
								<th scope="col">Enum Constants</th>
								<th scope="col">Annotation Members</th>
								<th scope="col">Inner Classes</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="classMap : ${classMapList}" th:object="${classMap}"
							    th:class="(*{newness} eq 'new')? 'text-success' : ((*{newness} eq 'delete')? 'text-danger': '')"
							    th:styleappend="(*{newness} eq 'delete')? 'text-decoration: line-through;' : ''">
								<th scope="row" th:text="*{classModifier}"></th>
								<td th:text="(*{newness} eq 'new') ? '(new) '+ *{className} : *{className}"></td>
								<td th:text="*{classInfo.getPackageInfo().getFullyQualifiedName()}"></td>
								<td th:text="*{classInfo.getPackageInfo().getModuleInfo().getRelativePath()}"></td>
								<td th:text="*{classInfo.getNumberOfFields()}"></td>
								<td th:text="*{classInfo.getNumberOfMethods()}"></td>
								<td th:text="*{classInfo.getNumberOfEnumConstants()}"></td>
								<td th:text="*{classInfo.getNumberOfAnnotationMembers()}"></td>
								<td th:text="*{classInfo.getNestedClassList().size()}"></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		
		</div>
		
		<script>

        function selectRecordTime(obj, index) {
            let newTime = $(obj).text()
            $('#current_record_time').text(newTime)
            $(obj).siblings().removeClass("active")
            $(obj).addClass("active");
            $.get("/dashboard/basic/select/" + index, function (data) {
                if ("undefined" == typeof vm.$el) {
                    vm.project_info_fragment = data;
                    // 挂载vue实例到DOM上，继续声明周期
                    vm.$mount('#project_info_basic');
                }
                vm.project_info_fragment = data;
            });
        }

        var vm = new Vue({
            // Vue实例将在created后停止声明周期，等到调用updateProjectInfomation()时才继续
            // el: '#project_info_basic',
            data: {
                project_info_fragment: ""
            }
        })
		</script>
		
		<!-- Footer -->
		<footer th:replace="fragments/common :: footer"></footer>
	</div>
</div>

<script th:replace="fragments/common :: footer_imports"></script>
</body>

</html>
