<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head_and_imports"></head>

<body>
<!-- Sidenav -->
<nav th:replace="fragments/common :: sidnav(2)"></nav>

<!-- Main content -->
<div class="main-content" id="panel">
	<!-- Topnav -->
	<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
		<div class="container-fluid">
			<div class="collapse navbar-collapse row justify-content-between" id="navbarSupportedContent">
				
				<!-- Path nav -->
				<div class="row col-auto align-items-center ">
					<nav aria-label="breadcrumb col-auto" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark py-2 mb-0">
							<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">Dashboards</a></li>
							<li class="breadcrumb-item active" aria-current="page">Complexity</li>
						</ol>
					</nav>
					<h6 class="h2 text-white d-inline-block mb-0 col-auto">Cyclomatic Complexity & Response For Class</h6>
				</div>
				
				<div class="row col-auto justify-content-end align-items-center m-0">
					<div class="col-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item d-xl-none">
								<!-- Sidenav toggler -->
								<div class="pr-2 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
								     data-target="#sidenav-main">
									<div class="sidenav-toggler-inner">
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			
			</div>
		</div>
	</nav>
	
	<!-- Header -->
	<div class="header bg-primary pb-6">
		<div class="container-fluid">
		</div>
	</div>
	
	<!-- Page content -->
	<div class="container-fluid mt--6" th:with="currentProjectInfo = ${projectList.get(projectList.size()-1)}">
		<!--图表-->
		<div class="row">
			<!-- chart -->
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header bg-transparent">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="text-muted text-uppercase ls-1 mb-1">Overview</h6>
								<h5 class="h3 mb-0">Timeline of complexity metrics</h5>
							</div>
							<div class="col">
								<ul class="nav nav-pills justify-content-end">
									<li class="nav-item mr-2 mr-md-0">
										<a href="javascript:void(0);" class="nav-link py-2 px-3 active"
										   data-toggle="tab"
										   onclick="showTimelineChartForClass()">
											<span class="d-none d-md-block">Class Level</span>
											<span class="d-md-none">C</span>
										</a>
									</li>
									<li class="nav-item">
										<a id='sloc_timeline_chart' href="javascript:void(0);" class="nav-link py-2 px-3"
										   data-toggle="tab" onclick="showTimelineChartForMethod()">
											<span class="d-none d-md-block">Method Level</span>
											<span class="d-md-none">F</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="chart" class="card-body pb-4 pr-4 pl-0 pt-0 col-12" style="height:680px;"></div>
					<div class="modal fade" id="chart_data_model" tabindex="-1" role="dialog"
					     aria-labelledby="row_model_label" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">{{title}}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body pt-0">
									<hr class="my-3">
									<div v-for="pointValue in pointValueList">
										<span>{{pointValue}}</span><br>
									</div>
									<hr class="my-3">
									<div v-for="pointDescription in pointDescriptionList">
										<div v-html="pointDescription"></div>
										<hr class="my-1">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					
					<script type="text/javascript" th:inline="javascript">
              let timeRecords = /*[[${timeRecords}]]*/;
              let weightedMethodsCountDataset = /*[[${weightedMethodsCountDataset}]]*/;
              let maxComplexityOfClassDataset = /*[[${maxComplexityOfClassDataset}]]*/;
              let avgComplexityOfClassDataset = /*[[${avgComplexityOfClassDataset}]]*/;
              let responseForClassDataset = /*[[${responseForClassDataset}]]*/;
              let methodComplexityDataset = /*[[${methodComplexityDataset}]]*/;
              let methodNumDataset = /*[[${methodNumDataset}]]*/;
              let currentChartLevel = 'class';

              function showTimelineChartForClass() {
                  currentChartLevel = 'class';
                  let option = {
                      options: initOptions(),
                      baseOption: {
                          legend: {},
                          grid: [
                              {x: '7%', y: '5%', width: '40%', height: '38%'},
                              {x2: '5%', y: '5%', width: '40%', height: '38%'},
                              {x: '7%', y2: '11%', width: '40%', height: '38%'},
                              {x2: '5%', y2: '11%', width: '40%', height: '38%'}
                          ],
                          xAxis: [
                              {gridIndex: 0, name: 'Num of Methods', nameLocation: 'center', nameGap: 28},
                              {gridIndex: 1, name: 'Num of Methods', nameLocation: 'center', nameGap: 28},
                              {gridIndex: 2},
                              {gridIndex: 3},
                          ],
                          yAxis: [
                              {
                                  gridIndex: 0, name: 'Avg Complexity of Class',
                                  nameLocation: 'center', nameRotate: 90, nameGap: 30
                              },
                              {
                                  gridIndex: 1, name: 'Response for class',
                                  nameLocation: 'center', nameRotate: 90, nameGap: 30
                              },
                              {
                                  gridIndex: 2, name: 'Weighted Method Count',
                                  nameLocation: 'center', nameRotate: 90, nameGap: 30
                              },
                              {
                                  gridIndex: 3, name: 'Max Complexity of Class',
                                  nameLocation: 'center', nameRotate: 90, nameGap: 30
                              },
                          ],
                          timeline: {
                              axisType: 'category', loop: true, autoPlay: false, currentIndex: timeRecords.length - 1,
                              playInterval: 1000, symbol: 'circle', data: timeRecords,
                              controlStyle: {showNextBtn: true, showPrevBtn: true, showPlayBtn: true},
                              label: {
                                  formatter: function (s) {
                                      var date = new Date(s);
                                      return date.getMonth() + "-" + date.getDate();
                                  }
                              }
                          },
                          tooltip: {
                              padding: 10, borderWidth: 1,
                              show: true, enterable: true, trigger: 'item', confine: true,
                              formatter: function (params) {
                                  if (params.componentType === "timeline") {
                                      return params.name;
                                  } else if (params.componentType === "series") {
                                      let value = params.data
                                      let yLabelName = params.seriesName;
                                      return '<div style="border-bottom: 1px solid rgba(255,255,255,.3) ;padding-bottom: 7px;margin-bottom: 7px">'
                                          + 'Class: ' + value[2] + '<br>'
                                          + '<span style="font: 12px">'
                                          + 'Of module: ' + value[3] + '</span>' + '<br>'
                                          + '</div>'
                                          + '<div style="border-bottom: 1px solid rgba(255,255,255,.3) ;padding-bottom: 7px;margin-bottom: 7px">'
                                          + 'Number of Methods : ' + value[0] + '<br>'
                                          + yLabelName + ': ' + value[1] + '<br>'
                                          + '</div>'
                                          + 'Click the point to see all relevant records.';
                                  }
                              }
                          },
                      },
                  };
                  document.getElementById("chart").style.height = "680px";
                  timelineChart.clear();
                  timelineChart.resize();
                  timelineChart.setOption(option);
              }

              function initOptions() {
                  let options = [];
                  for (let i = 0; i < timeRecords.length; i++) {
                      options[i] = {
                          series: [
                              {
                                  name: 'Avg Complexity of Class',
                                  type: 'scatter',
                                  xAxisIndex: 0,
                                  yAxisIndex: 0,
                                  data: avgComplexityOfClassDataset[timeRecords[i]],
                                  emphasis: {
                                      label: {
                                          show: true,
                                          formatter: function (params) {
                                              return params.data[2];
                                          },
                                          color: '#000000',
                                          position: 'top',
                                          fontWeight: 'normal',
                                      },
                                  },
                              },
                              {
                                  name: 'Response for Class',
                                  type: 'scatter',
                                  xAxisIndex: 1,
                                  yAxisIndex: 1,
                                  data: responseForClassDataset[timeRecords[i]],
                                  emphasis: {
                                      label: {
                                          show: true,
                                          formatter: function (params) {
                                              return params.data[2];
                                          },
                                          color: '#000000',
                                          position: 'top',
                                          fontWeight: 'normal',
                                      },
                                  },
                              },
                              {
                                  name: 'Weighted Methods Count',
                                  type: 'scatter',
                                  xAxisIndex: 2,
                                  yAxisIndex: 2,
                                  data: weightedMethodsCountDataset[timeRecords[i]],
                                  emphasis: {
                                      label: {
                                          show: true,
                                          formatter: function (params) {
                                              return params.data[2];
                                          },
                                          color: '#000000',
                                          position: 'top',
                                          fontWeight: 'normal',
                                      },
                                  },
                              },
                              {
                                  name: 'Max Complexity of Class',
                                  type: 'scatter',
                                  xAxisIndex: 3,
                                  yAxisIndex: 3,
                                  data: maxComplexityOfClassDataset[timeRecords[i]],
                                  emphasis: {
                                      label: {
                                          show: true,
                                          formatter: function (params) {
                                              return params.data[2];
                                          },
                                          color: '#000000',
                                          position: 'top',
                                          fontWeight: 'normal',
                                      },
                                  },
                              },
                          ]
                      }
                  }
                  return options;
              }

              function showTimelineChartForMethod() {
                  currentChartLevel = 'method'
                  let option = {
                      grid: {
                          bottom: '100'
                      },
                      legend: {},
                      xAxis: {
                          name: "Time", type: 'category', splitArea: {interval: 0},
                          splitLine: {show: true, lineStyle: {type: 'solid'}},
                      },
                      yAxis: [{
                          name: "Cyclomatic of Methods", type: 'value',
                          nameLocation: 'center', nameRotate: 90, nameGap: 30
                      }, {
                          name: "Number of All Methods in the Project", type: 'value',
                          nameLocation: 'center', nameRotate: 270, nameGap: 30
                      }],
                      series: [{
                          name: 'Cyclomatic Complexity of Method',
                          type: 'scatter', yAxisIndex: 0, data: methodComplexityDataset,
                          emphasis: {
                              label: {
                                  show: true, color: '#000000', position: 'top', fontWeight: 'normal',
                                  formatter: function (params) {
                                      return params.data[2];
                                  },
                              },
                          },
                      }, {
                          name: 'Number of All Methods', type: 'bar', yAxisIndex: 1, data: methodNumDataset,
                          itemStyle: {color: 'rgba(229,229,229,0.8)',},
                          label: {
                              show: true, position: 'top', distance: 20, formatter: '{@[1]}', color: '#000000',
                          },
                          emphasis: {
                              itemStyle: {color: 'rgba(201,201,201,0.8)'},
                          }
                      }],
                      dataZoom: [
                          {type: 'slider', xAxisIndex: 0, start: 20, end: 100},
                          {type: 'inside', xAxisIndex: 0, start: 20, end: 100},
                          {type: 'slider', yAxisIndex: 0, left: 20, start: 0, end: 100},
                          {type: 'slider', yAxisIndex: 1, right: 20, start: 0, end: 100}
                      ],
                      tooltip: {
                          show: true, enterable: true, trigger: 'item', confine: true, padding: 10, borderWidth: 1,
                          formatter: function (params) {
                              if (params.componentSubType === "scatter") {
                                  let value = params.data
                                  return '<div style="border-bottom: 1px solid rgba(255,255,255,.3) ;padding-bottom: 7px;margin-bottom: 7px">'
                                      + 'Method: ' + value[2] + '<br>' + 'Declaration: ' + value[3] + '<br>'
                                      + params.seriesName + ": " + value[1]
                                      + '</div>'
                                      + 'Click the point to see all relevant records.';
                              }
                          },
                      },
                  };
                  document.getElementById("chart").style.height = "550px";
                  timelineChart.clear();
                  timelineChart.resize();
                  timelineChart.setOption(option);
              }

              // 基于准备好的dom，初始化echarts实例
              let timelineChart = echarts.init(document.getElementById('chart'));

              let pointedData = [];
              timelineChart.on('mouseover', function (params) {
                  pointedData = params.data;
              })
              timelineChart.on('mouseout', function () {
                  pointedData = [];
              })

              // 用于显示timeline chart的重叠数据
              let chart_data_vm = new Vue({
                  el: '#chart_data_model',
                  data: {
                      title: '',
                      pointValueList: [],
                      pointDescriptionList: [],
                  }
              })
              let currentTimelineIndex = timeRecords.length - 1;
              timelineChart.on('timelinechanged', function (params) {
                  currentTimelineIndex = params.currentIndex
              });
              timelineChart.on('click', 'series.scatter', function (param) {
                  chart_data_vm.title = timeRecords[currentTimelineIndex];

                  let targetDataset;
                  let x = param.value[0];
                  let y = param.value[1];
                  if (currentChartLevel === 'class') {
                      let pointValueList = [];
                      pointValueList.push("Number of methods: " + param.value[0]);
                      pointValueList.push(param.seriesName + ": " + param.value[1]);
                      chart_data_vm.pointValueList = pointValueList;

                      if (param.seriesName === "Avg Complexity of Class") {
                          targetDataset = avgComplexityOfClassDataset;
                      } else if (param.seriesName === "Response for Class") {
                          targetDataset = responseForClassDataset;
                      } else if (param.seriesName === "Weighted Methods Count") {
                          targetDataset = weightedMethodsCountDataset;
                      } else if (param.seriesName === "Max Complexity of Class") {
                          targetDataset = maxComplexityOfClassDataset;
                      }
                      let pointDescriptionList = [];
                      for (let key in targetDataset) {
                          if (key === timeRecords[currentTimelineIndex]) {
                              for (let row of targetDataset[key]) {
                                  if (row[0] === x && row[1] === y) {
                                      let text = '<span style="font: 12px">'
                                          + 'Class: ' + row[2] + '</span>' + '<br>'
                                          + '<span style="font: 12px">'
                                          + 'of Module: ' + row[3] + '</span>' + '<br>';
                                      pointDescriptionList.push(text);
                                  }
                              }
                          }
                      }
                      chart_data_vm.pointDescriptionList = pointDescriptionList;
                  } else {
                      let pointValueList = [];
                      pointValueList.push(param.seriesName + ": " + param.value[1]);
                      chart_data_vm.pointValueList = pointValueList;

                      let pointDescriptionList = [];
                      methodComplexityDataset.forEach(row => {
                          if (row[0] === x && row[1] === y) {
                              let text = '<span style="font: 12px">'
                                  + 'Method: ' + row[2] + '</span>' + '<br>'
                                  + '<span style="font: 12px">'
                                  + 'Declaration: ' + row[3] + '</span>' + '<br>';
                              pointDescriptionList.push(text);
                          }
                      });
                      chart_data_vm.pointDescriptionList = pointDescriptionList;
                  }

                  $('#chart_data_model').modal('show');
              });
					
					
					</script>
				
				</div>
			</div>
		</div>
		<!--表格-->
		<div class="row">
			<!-- 选择记录时间 -->
			<div class="col-xl-12">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-auto">
							<h6 class="text-uppercase text-muted ls-1 mb0">Project Information</h6>
							
							<!-- dropdown -->
							<div class="nav-item dropdown">
								<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false">
											<span class="h3 mb-0 mr-2" id="current_record_time"
											      th:text="${#dates.format(currentProjectInfo.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
									<i class="fas fa-caret-down"></i>
								</a>
								<div class="dropdown-menu">
									<a th:class="${timeRecordStat.index} eq ${timeRecords.size()-1} ? 'dropdown-item active' : 'dropdown-item'"
									   href="javascript:void(0);"
									   th:each="timeRecord,timeRecordStat : ${timeRecords}"
									   th:onclick="selectRecordTime(this,[[${timeRecordStat.index}]])">
										<span th:text="${timeRecord}"></span>
									</a>
								</div>
							</div>
						
						</div>
					
					</div>
				</div>
			</div>
			<!--表格-->
			<div class="col-xl-12">
				<div class="card">
					<div class="table-responsive">
						<div id="toolbar">
							<div class="form-inline" role="form">
								<a id="complexity-previous-btn" class="btn btn-outline-primary btn-sm invisible"
								   href="javascript:void(0);"
								   onclick="showClassComplexity()">
									< previous</a>
							</div>
						</div>
						<table id="table"></table>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="complexity_row_model" tabindex="-1" role="dialog"
			     aria-labelledby="complexity_row_model_label" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="complexity_row_model_label">
								<span class="h3 text-uppercase text-muted mr-2">{{ recordType }}</span>
								<span class="h3">{{ recordName }}</span>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="complexity_row_chart" class="card-body pb-4 pr-4 pl-0 pt-0 col-12" style="height:450px;"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			
			</div>
		
		</div>
		<!-- Footer -->
		<footer th:replace="fragments/common :: footer"></footer>
	</div>
</div>
<script th:replace="fragments/common :: footer_imports"></script>
<script>


    $(function () {
        // 首次渲染图表
        showTimelineChartForClass();
        // 首次渲染表格
        showClassComplexity();
    })

    let $table = $('#table')
    let projectRecordIndex = -1;
    let currentClassQualifiedName = "";
    let isCurrentLevelMethod = false;


    // 选择记录
    function selectRecordTime(obj, index) {
        projectRecordIndex = index;
        let newTime = $(obj).text()
        $('#current_record_time').text(newTime)
        $(obj).siblings().removeClass("active")
        $(obj).addClass("active");
        if (isCurrentLevelMethod) {
            showMethodComplexity(currentClassQualifiedName);
        } else {
            showClassComplexity();
        }
    }

    // 表格：类级别的度量数据
    function showClassComplexity() {
        isCurrentLevelMethod = false;
        let columns = [{
            field: 'chart', title: ''
        }, {
            field: 'name', title: 'Class Name', sortable: true,
            formatter: function (value, row) {
                return '<a href="javascript:void(0);" ' +
                    'onclick="showMethodComplexity(\'' + row.qualifiedName + '\')">' +
                    value + '</a>';
            },
        }, {
            field: 'numOfMethod', title: 'Number of Method', sortable: true
        }, {
            field: 'weightedMethodsCount', title: 'Weighted Method Count', sortable: true
        }, {
            field: 'maxComplexity', title: 'Max Complexity of Class', sortable: true
        }, {
            field: 'avgComplexity', title: 'Avg Complexity of Class', sortable: true
        }, {
            field: 'responseForClass', title: 'Response for Class', sortable: true
        }, {
            field: 'type', title: 'Class Type', sortable: true
        }, {
            field: 'declaration', title: 'Class Location', sortable: true
        }, {
            field: 'package', title: 'of Which Package', sortable: true
        }, {
            field: 'module', title: 'of Which Module', sortable: true
        }];
        $.get("/dashboard/complexity/table/class?projectRecordIndex=" + projectRecordIndex).done(function (data) {
            let dataset = data;
            //给每行前面加上趋势图按钮（弹出模态框）
            for (i = 0; i < dataset.length; i++) {
                dataset[i].chart =
                    '<a class="table-chart-icon" href="javascript:void(0);" data-toggle="modal" '
                    + 'data-target="#complexity_row_model" onclick="showTableChartForClass(\'' +
                    dataset[i].qualifiedName + '\')">'
                    + '<i class="fas fa-chart-bar"></i></a>'
            }
            buildTable($table, dataset, columns, 2, 0)
            $("#complexity-previous-btn").addClass("invisible");
        });
    }

    //表格：方法级别的度量数据
    function showMethodComplexity(qualifiedName) {
        currentClassQualifiedName = qualifiedName;
        isCurrentLevelMethod = true;
        let columns = [{
            field: 'name', title: 'Method Name', sortable: true,
        }, {
            field: 'declaration', title: 'Method Declaration', sortable: true
        }, {
            field: 'class', title: 'of Which Class', sortable: true
        }, {
            field: 'module', title: 'of Which Module', sortable: true
        }, {
            field: 'cyclomaticComplexity', title: 'Cyclomatic Complexity', sortable: true
        }];
        $.get("/dashboard/complexity/table/method?classQualifiedName=" + qualifiedName +
            "&projectRecordIndex=" + projectRecordIndex).done(function (data) {
            buildTable($table, data, columns, 1, 1)
            $("#complexity-previous-btn").removeClass("invisible");
        });
    }

    // 重新渲染表格
    function buildTable($el, dataset, columns, fixedNumber, fixedRightNumber) {
        $el.bootstrapTable('destroy').bootstrapTable({
            height: 500,
            columns: columns,
            data: dataset,
            toolbar: '#toolbar',
            search: true,
            showColumns: true,
            fixedColumns: true,
            fixedNumber: fixedNumber,
            fixedRightNumber: fixedRightNumber,
            // buttons: "",
            // buttonsPrefix: "",
            // buttonsClass: "btn btn-sm btn-outline-primary",
            showColumnsToggleAll: true,
            detailViewByClick: true,
            iconSize: "sm",
            showFullscreen: true,
        })
    }

    // 用于修改模块框title
    let complexity_table_chart_title_vm = new Vue({
        el: '#complexity_row_model_label',
        data: {
            recordType: '',
            recordName: '',
        }
    })

    // 指定图表的配置项和数据
    let tableChartOptForClass = {
        grid: {
            bottom: '100'
        },
        // 声明一个 X 轴，类目轴（category）。默认情况下，类目轴对应到 dataset 第一列。
        xAxis: {
            type: 'category'
        },
        yAxis: {},
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                snap: true,
                type: "line",
            }
        },
        dataZoom: [
            {
                type: 'slider',
                xAxisIndex: 0,
                start: 20,
                end: 100
            },
            {
                type: 'inside',
                xAxisIndex: 0,
                start: 20,
                end: 100
            },
            {
                type: 'slider',
                yAxisIndex: 0,
                start: 0,
                end: 100
            }
        ],
    };
    let complexityTableChart = echarts.init(document.getElementById('complexity_row_chart'));
    complexityTableChart.setOption(tableChartOptForClass);

    function showTableChartForClass(qualifiedName) {
        complexity_table_chart_title_vm.recordName = qualifiedName;
        complexity_table_chart_title_vm.recordType = "Class";
        // 异步加载数据
        $.get("/dashboard/complexity/table/chart/class?qualifiedName=" + qualifiedName).done(function (data) {
            // 填入数据
            complexityTableChart.setOption({
                legend: {
                    data: ["Number of Method", "Weighted Method Count", "Max Complexity of Class",
                        "Avg Complexity of Class", "Response for Class"]
                },
                dataset: {
                    // 提供一份数据。
                    source: data
                },
                series: [
                    {
                        type: 'line', name: 'Number of Method',
                        lineStyle: {width: 3}, emphasis: {label: {show: true}}
                    },
                    {
                        type: 'line', name: 'Weighted Method Count',
                        lineStyle: {width: 3}, emphasis: {label: {show: true}}
                    },
                    {
                        type: 'line', name: 'Max Complexity of Class',
                        lineStyle: {width: 3}, emphasis: {label: {show: true}}
                    },
                    {
                        type: 'line', name: 'Avg Complexity of Class',
                        lineStyle: {width: 3}, emphasis: {label: {show: true}}
                    },
                    {
                        type: 'line', name: 'Response for Class',
                        lineStyle: {width: 3}, emphasis: {label: {show: true}}
                    },
                ],
            });
        });
    }

    // 让echarts在模态框打开后重新渲染
    $('#complexity_row_model').on('shown.bs.modal', function () {
        complexityTableChart.resize()
    })


</script>

</body>

</html>
