<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head_and_imports"></head>

<body>
<!-- Sidenav -->
<nav th:replace="fragments/common :: sidnav(2)"></nav>

<!-- Main content -->
<div class="main-content" id="panel">
	<!-- Topnav -->
	<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
		<div class="container-fluid">
			<div class="collapse navbar-collapse row justify-content-between" id="navbarSupportedContent">
				
				<!-- Path nav -->
				<div class="row col-auto align-items-center ">
					<nav aria-label="breadcrumb col-auto" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark py-2 mb-0">
							<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">Dashboards</a></li>
							<li class="breadcrumb-item active" aria-current="page">Complexity</li>
						</ol>
					</nav>
					<h6 class="h2 text-white d-inline-block mb-0 col-auto">Cyclomatic Complexity & Response For Class</h6>
				</div>
				
				<div class="row col-auto justify-content-end align-items-center m-0">
					<div class="col-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item d-xl-none">
								<!-- Sidenav toggler -->
								<div class="pr-2 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
								     data-target="#sidenav-main">
									<div class="sidenav-toggler-inner">
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			
			</div>
		</div>
	</nav>
	
	<!-- Header -->
	<div class="header bg-primary pb-6">
		<div class="container-fluid">
		</div>
	</div>
	
	<!-- Page content -->
	<div class="container-fluid mt--6" th:with="currentProjectInfo = ${projectList.get(projectList.size()-1)}">
		<!--图表-->
		<div class="row">
			<!-- chart -->
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header bg-transparent">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="text-muted text-uppercase ls-1 mb-1">Overview</h6>
								<h5 class="h3 mb-0">Timeline of complexity metrics</h5>
							</div>
							<div class="col">
								<ul class="nav nav-pills justify-content-end">
									<!-- dropdown -->
									<div class="dropdown">
										<a class="dropdown-arrow-color pr-0" href="#" role="button" data-toggle="dropdown"
										   aria-haspopup="true"
										   aria-expanded="false">
											<span class="h3 mb-0 mr-2" id="complexity_chart_dropdown">Weighted Method Count</span>
											<i class="fas fa-caret-down"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item active" href="javascript:void(0);" onclick="foo(this,0)">
												<span>Weighted Method Count</span>
											</a>
											<a class="dropdown-item" href="javascript:void(0);" onclick="foo(this,1)">
												<span>Max Complexity of Class</span>
											</a>
											<a class="dropdown-item" href="javascript:void(0);" onclick="foo(this,2)">
												<span>Average Complexity of Class</span>
											</a>
											<a class="dropdown-item" href="javascript:void(0);" onclick="foo(this,3)">
												<span>Response for Class</span>
											</a>
											<a class="dropdown-item" href="javascript:void(0);" onclick="foo(this,4)">
												<span>Cyclomatic complexity of Method</span>
											</a>
										</div>
									</div>
								</ul>
							</div>
						</div>
					</div>
					<div id="chart" class="card-body pb-4 pr-4 pl-0 pt-0 col-12" style="height:550px;"></div>
					<script type="text/javascript" th:inline="javascript">
              let timeRecords = /*[[${timeRecords}]]*/;
              let weightedMethodsCountDataset = /*[[${weightedMethodsCountDataset}]]*/;
              let maxComplexityOfClassDataset = /*[[${maxComplexityOfClassDataset}]]*/;
              let avgComplexityOfClassDataset = /*[[${avgComplexityOfClassDataset}]]*/;
              let responseForClassDataset = /*[[${responseForClassDataset}]]*/;
              // let cyclomaticComplexityForMethodDataset = /*[[${cyclomaticComplexityForMethodDataset}]]*/;

              function changeDataSet(type) {
                  let dataset;
                  let label;
                  switch (index) {
                      case 0:
                          dataset = weightedMethodsCountDataset;
                          label = ['Class', 'of Module', 'Number of Methods',
                              'Weighted Methods Count']
                          break;
                      case 1:
                          dataset = maxComplexityOfClassDataset;
                          label = ['Class', 'of Module', 'Number of Methods',
                              'Weighted Methods Count']
                          break;
                      case 2:
                          dataset = avgComplexityOfClassDataset;
                          label = ['Class', 'of Module', 'Number of Methods',
                              'Weighted Methods Count']
                          break;
                      case 3:
                          dataset = responseForClassDataset;
                          label = ['Class', 'of Module', 'Number of Methods',
                              'Weighted Methods Count']
                          break;
                      case 4:
                          dataset = cyclomaticComplexityForMethodDataset;
                          label = ['Method', 'of Class', 'Number of Methods',
                              'Weighted Methods Count']
                          break;
                  }
                  let dataMax = getMax(dataset);
                  let options = optionsFormatter(dataset);
                  let option = {
                      baseOption: {
                          timeline: {
                              axisType: 'category', //轴的类型，value是数值轴；category是类目轴；
                              // orient: 'horizontal',//摆放方式；vertical/horizontal
                              loop: true,
                              // autoPlay: true,
                              currentIndex: timeRecords.length - 1,
                              playInterval: 1000,
                              symbol: 'circle',//timeline标记的图形: circle,rect,roundRect,triangle,diamond,pin,arrow,none;可以通过‘image://url"设置为图片
                              controlStyle: {//控制按钮的样式；包括播放/前进/后退按钮
                                  showNextBtn: true,//是否显示播放按钮；
                                  showPrevBtn: true,//是否显示后退按钮；
                                  showPlayBtn: true,//是否显示播放按钮
                              },
                              data: timeRecords,
                              label: {
                                  formatter: function (s) {
                                      var date = new Date(s);
                                      return date.getMonth() + "-" + date.getDate();
                                  }
                              }
                          },
                          legend: {
                              data: [label[0]],
                          },
                          xAxis: {
                              name: label[2],
                              type: 'value',
                              max: Math.ceil(dataMax[0] / 5) * 5
                          },
                          yAxis: {
                              name: label[3],
                              type: 'value',
                              max: Math.ceil(dataMax[1] / 5) * 5
                          },
                          tooltip: {
                              // 显示额外信息
                              padding: 10,
                              borderWidth: 1,
                              formatter: function (params) {
                                  let text = '';
                                  let triggerLabel = false;
                                  params.forEach(row => {
                                      if (pointedData[0] === row.data[0] && pointedData[1] === row.data[1]) {
                                          triggerLabel = true;
                                          let value = row.value;
                                          text +=
                                              '<div style="border-bottom: 1px solid rgba(255,255,255,.3) ;padding-bottom: 7px;margin-bottom: 7px">'
                                              + label[0] + ': ' + value[2] + '<br>'
                                              + '<span style="font: 12px">'
                                              + label[1] + ': ' + value[3] + '</span>' + '<br>'
                                              + '</div>';
                                      }
                                  });
                                  if (triggerLabel) {
                                      text += label[2] + ': ' + pointedData[0] + '<br>'
                                          + label[3] + ': ' + pointedData[1] + '<br>'
                                  }
                                  return text;
                              },
                              // 重叠问题
                              show: true,
                              trigger: 'axis',
                              confine: true,
                              axisPointer: {
                                  type: 'cross',
                                  snap: false,
                                  axis: 'x', // y轴选项
                                  label: {
                                      // show: false,
                                      color: '#fff',
                                      backgroundColor: 'rgba(0, 0, 0, .55)'
                                  }
                              },
                          },
                          grid: {
                              // left: '10%',
                              right: 150,
                              // top: '18%',
                              // bottom: '10%'
                          },
                          color: ['#c23531'],
                      },
                      options: options

                  };
                  myChart.setOption(option);
              }

              function getMax(dataset) {
                  let xMax = 0;
                  let yMax = 0;
                  for (let key in dataset) {
                      for (let cols of dataset[key]) {
                          xMax = Number(cols[0]) > xMax ? Number(cols[0]) : xMax;
                          yMax = Number(cols[1]) > yMax ? Number(cols[1]) : yMax;
                      }
                  }
                  return [xMax, yMax];
              }

              function optionsFormatter(dataset) {
                  let options = [];
                  for (let i = 0; i < timeRecords.length; i++) {
                      options[i] = {
                          series: [{
                              name: 'Class',
                              data: dataset[timeRecords[i]],
                              type: 'scatter',
                              emphasis: {
                                  label: {
                                      show: true,
                                      formatter: function (params) {
                                          return params.data[3];
                                      },
                                      color: '#000000',
                                      position: 'top',
                                      fontWeight: 'normal',
                                  },
                              },
                          }]
                      }
                  }
                  return options;
              }

              // 基于准备好的dom，初始化echarts实例
              var myChart = echarts.init(document.getElementById('chart'));

              var pointedData = [];
              myChart.on('mouseover', function (params) {
                  pointedData = params.data;
              })
              myChart.on('mouseout', function (params) {
                  pointedData = [];
              })
					
					
					</script>
				</div>
			</div>
		</div>
		<!--表格-->
		<div class="row">
			<!-- 选择记录时间 -->
			<div class="col-xl-12">
				<div class="card-header border-0">
					<div class="row align-items-center">
						<div class="col-auto">
							<h6 class="text-uppercase text-muted ls-1 mb0">Project Information</h6>
							
							<!-- dropdown -->
							<div class="nav-item dropdown">
								<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false">
											<span class="h3 mb-0 mr-2" id="current_record_time"
											      th:text="${#dates.format(currentProjectInfo.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
									<i class="fas fa-caret-down"></i>
								</a>
								<div class="dropdown-menu">
									<a th:class="${timeRecordStat.index} eq ${timeRecords.size()-1} ? 'dropdown-item active' : 'dropdown-item'"
									   href="javascript:void(0);"
									   th:each="timeRecord,timeRecordStat : ${timeRecords}"
									   th:onclick="selectRecordTime(this,[[${timeRecordStat.index}]])">
										<span th:text="${timeRecord}"></span>
									</a>
								</div>
							</div>
						
						</div>
					
					</div>
				</div>
			</div>
			<!--表格-->
			<div class="col-xl-12">
				<div class="card">
					<div class="table-responsive">
						<div id="toolbar">
							<div class="form-inline" role="form">
								<a id="complexity-previous-btn" class="btn btn-outline-primary btn-sm invisible"
								   href="javascript:void(0);"
								   onclick="showClassComplexity()">
									< previous</a>
							</div>
						</div>
						<table id="table"></table>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="complexity_row_model" tabindex="-1" role="dialog"
			     aria-labelledby="complexity_row_model_label" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="complexity_row_model_label">
								<span class="h3 text-uppercase text-muted mr-2">{{ recordType }}</span>
								<span class="h3">{{ recordName }}</span>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="complexity_row_chart" class="card-body pb-4 pr-4 pl-0 pt-0 col-12" style="height:450px;">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		
		</div>
		<!-- Footer -->
		<footer th:replace="fragments/common :: footer"></footer>
	</div>
</div>
<script th:replace="fragments/common :: footer_imports"></script>
<script>

    // 首次渲染表格
    $(function () {
        changeDataSet(0);
        showClassComplexity();
    })

    let $table = $('#table')
    let projectRecordIndex = -1;
    let currentClassQualifiedName = "";
    let isCurrentLevelMethod = false;

    // 选择记录
    function foo(obj, index) {
        let selectedItem = $(obj).text()
        $('#complexity_chart_dropdown').text(selectedItem)
        $(obj).siblings().removeClass("active")
        $(obj).addClass("active");
        changeDataSet(index);
    }

    // 选择记录
    function selectRecordTime(obj, index) {
        projectRecordIndex = index;
        let newTime = $(obj).text()
        $('#current_record_time').text(newTime)
        $(obj).siblings().removeClass("active")
        $(obj).addClass("active");
        if (isCurrentLevelMethod) {
            showMethodComplexity(currentClassQualifiedName);
        } else {
            showClassComplexity();
        }
    }

    // 表格：类级别的度量数据
    function showClassComplexity() {
        isCurrentLevelMethod = false;
        let columns = [{
            field: 'chart', title: ''
        }, {
            field: 'name', title: 'Class Name', sortable: true,
            formatter: function (value, row) {
                return '<a href="javascript:void(0);" ' +
                    'onclick="showMethodComplexity(\'' + row.qualifiedName + '\')">' +
                    value + '</a>';
            },
        }, {
            field: 'type', title: 'Class Type', sortable: true
        }, {
            field: 'declaration', title: 'Class Location', sortable: true
        }, {
            field: 'package', title: 'of Which Package', sortable: true
        }, {
            field: 'module', title: 'of Which Module', sortable: true
        }, {
            field: 'numOfMethod', title: 'Number of Method', sortable: true
        }, {
            field: 'weightedMethodsCount', title: 'Weighted Method Count', sortable: true
        }, {
            field: 'maxComplexity', title: 'Max Complexity of Class', sortable: true
        }, {
            field: 'avgComplexity', title: 'Avg Complexity of Class', sortable: true
        }, {
            field: 'responseForClass', title: 'Response for Class', sortable: true
        }];
        $.get("/dashboard/complexity/table/class?projectRecordIndex=" + projectRecordIndex).done(function (data) {
            let dataset = data;
            //给每行前面加上趋势图按钮（弹出模态框）
            for (i = 0; i < dataset.length; i++) {
                dataset[i].chart =
                    '<a class="table-chart-icon" href="javascript:void(0);" data-toggle="modal" '
                    + 'data-target="#complexity_row_model" onclick="showTableChartForClass(\'' +
                    dataset[i].qualifiedName + '\')">'
                    + '<i class="fas fa-chart-bar"></i></a>'
            }
            buildTable($table, dataset, columns, 2, 0)
            $("#complexity-previous-btn").addClass("invisible");
        });
    }

    //表格：方法级别的度量数据
    function showMethodComplexity(qualifiedName) {
        currentClassQualifiedName = qualifiedName;
        isCurrentLevelMethod = true;
        let columns = [{
            field: 'name', title: 'Method Name', sortable: true,
        }, {
            field: 'declaration', title: 'Method Declaration', sortable: true
        }, {
            field: 'class', title: 'of Which Class', sortable: true
        }, {
            field: 'module', title: 'of Which Module', sortable: true
        }, {
            field: 'cyclomaticComplexity', title: 'Cyclomatic Complexity', sortable: true
        }];
        $.get("/dashboard/complexity/table/method?classQualifiedName=" + qualifiedName +
            "&projectRecordIndex=" + projectRecordIndex).done(function (data) {
            buildTable($table, data, columns, 1, 1)
            $("#complexity-previous-btn").removeClass("invisible");
        });
    }

    // 重新渲染表格
    function buildTable($el, dataset, columns, fixedNumber, fixedRightNumber) {
        $el.bootstrapTable('destroy').bootstrapTable({
            height: 500,
            columns: columns,
            data: dataset,
            toolbar: '#toolbar',
            search: true,
            showColumns: true,
            fixedColumns: true,
            fixedNumber: fixedNumber,
            fixedRightNumber: fixedRightNumber,
            // buttons: "",
            // buttonsPrefix: "",
            // buttonsClass: "btn btn-sm btn-outline-primary",
            showColumnsToggleAll: true,
            detailViewByClick: true,
            iconSize: "sm",
            showFullscreen: true,
        })
    }

    // 用于修改模块框title
    let vm_complexity_table_chart_title = new Vue({
        el: '#complexity_row_model_label',
        data: {
            recordType: '',
            recordName: '',
        }
    })

    // 指定图表的配置项和数据
    let tableChartOptForClass = {
        grid: {
            bottom: '100'
        },
        // 声明一个 X 轴，类目轴（category）。默认情况下，类目轴对应到 dataset 第一列。
        xAxis: {
            type: 'category'
        },
        yAxis: {},
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                snap: true,
                type: "line",
            }
        },
        dataZoom: [
            {
                type: 'slider',
                xAxisIndex: 0,
                start: 20,
                end: 100
            },
            {
                type: 'inside',
                xAxisIndex: 0,
                start: 20,
                end: 100
            },
            {
                type: 'slider',
                yAxisIndex: 0,
                start: 0,
                end: 100
            }
        ],
    };
    let complexityTableChart = echarts.init(document.getElementById('complexity_row_chart'));
    complexityTableChart.setOption(tableChartOptForClass);

    function showTableChartForClass(qualifiedName) {
        vm_complexity_table_chart_title.recordName = qualifiedName;
        vm_complexity_table_chart_title.recordType = "Class";
        // 异步加载数据
        $.get("/dashboard/complexity/table/chart/class?qualifiedName=" + qualifiedName).done(function (data) {
            // 填入数据
            complexityTableChart.setOption({
                legend: {
                    data: ["Number of Method", "Weighted Method Count", "Max Complexity of Class",
                        "Avg Complexity of Class", "Response for Class"]
                },
                dataset: {
                    // 提供一份数据。
                    source: data
                },
                series: [
                    {type: 'line', name: 'Number of Method'},
                    {type: 'line', name: 'Weighted Method Count'},
                    {type: 'line', name: 'Max Complexity of Class'},
                    {type: 'line', name: 'Avg Complexity of Class'},
                    {type: 'line', name: 'Response for Class'},
                ],
            });
        });
    }

    // 让echarts在模态框打开后重新渲染
    $('#complexity_row_model').on('shown.bs.modal', function () {
        complexityTableChart.resize()
    })


</script>

</body>

</html>
