<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_head('Place Details')">
</head>
<body>
<div th:replace="fragments/breadcrumb :: breadcrumb"></div>
<h2 th:text="${fieldName}">show</h2>
<div class="table-responsive-xl">
    <table class="table text-center table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Set As</th>
            <th scope="col">Place</th>
            <th scope="col">Description</th>
            <th scope="col">Country</th>
            <th scope="col">Region</th>
            <th scope="col">County</th>
            <th scope="col">Historic County</th>
            <th scope="col">Lieutenancy County</th>
            <th scope="col">Registration District</th>
            <th scope="col">Health Authority/Board</th>
        </tr>
        <tbody>
        <tr th:each="l,iterStat:${list}">
            <th scope="row">
                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="btn_group">
                    <button type="button" th:onclick="setOriginAddr(this)" class="btn btn-outline-primary">origin</button>
                    <button type="button" th:onclick="setDestinationAddr(this)" class="btn btn-outline-primary">destination</button>
                </div>
            </th>
            <td th:text="${l.place18nm}"></td>
            <td th:text="${l.descnm}"></td>
            <td th:text="${l.ctry18nm}"></td>
            <td th:text="${l.rgn18nm}"></td>
            <td th:text="${l.cty18nm}"></td>
            <td th:text="${l.ctyhisnm}"></td>
            <td th:text="${l.ctyltnm}"></td>
            <td th:text="${l.regd18nm}"></td>
            <td th:text="${l.hlth12nm}"></td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    function setOriginAddr(obj) {
        window.parent.setOriginAddr(obj);
    }

    function setDestinationAddr(obj) {
        window.parent.setDestinationAddr(obj);
    }
</script>
</body>
</html>