<configuration scan="true">

    <property resource="t4m.properties"/>

    <!--appender定义日志输出的规范，name为对象名，class为引用的对象-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[T4M] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="File_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${T4M_HOME}/${LOG_PATH}/debug.log</file>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} [%level] [%logger:%line] [thread:%thread] %n %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${T4M_HOME}/${LOG_PATH}/debug%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <!-- 过滤器，可以过滤掉不符合条件的日志，INFO及以上的日志被处理，其它的拒绝 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="File_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${T4M_HOME}/${LOG_PATH}/info.log</file>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} [%level] [%logger:%line] [thread:%thread] %n %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${T4M_HOME}/${LOG_PATH}/info%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="File_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${T4M_HOME}/${LOG_PATH}/error.log</file>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} [%level] [%logger:%line] [thread:%thread] %n %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${T4M_HOME}/${LOG_PATH}/error%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <!-- 过滤器，可以过滤掉不符合条件的日志，ERROR及以上的日志被处理，其它的拒绝 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 默认日志级别 -->
    <root level="debug">
        <appender-ref ref="Console"/>
        <appender-ref ref="File_DEBUG"/>
        <appender-ref ref="File_INFO"/>
        <appender-ref ref="File_ERROR"/>
    </root>

    <!-- name为包路径，level为该包路径下的日志级别 -->
    <!--    <logger name="chapters.configuration" level="INFO" />-->

</configuration>